.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.title {
  text-align: center;
  text-shadow:
    0 0 16px rgb(51 51 255 / 25%),
    0 0 8px rgb(51 51 255 / 25%),
    0 4px 32px rgb(51 51 255 / 50%);
}

.id_number {
  margin-bottom: 70px;
}

.order_icon {
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
}
