.constructor_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 41px;
}

.burger_price_box {
  display: flex;
  align-items: center;
}

.priceIcon {
  width: 36px;
  height: 36px;
}
